@font-face {
	font-family: "Lato";
	src: url("../../fonts/lato/Lato-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../../fonts/lato/Lato-Light.ttf") format("truetype");
	font-weight: lighter;
	font-style: normal;
}
