.carousel {

  .item {
    max-height: 640px;
  }

  /** custom markup inside an item **/
  .carousel-content {
    height: 640px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  /** indicators **/
  .carousel-indicators {
    bottom: 8px;
  }

  .carousel-image {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
  }
}
